*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --fs-16px:16px;
    --fs-18px:18px;
    --fs-20px:20px;
    --fs-40px:40px;
    --fs-54px:54px;
    --fw-600:600;
    --fw-700:700;
    --fw-500:500;
    --white: #ffffff;
    --dark-gunmetal: #212529;
    --platinum: #DEE2E6;
    --gray: rgb(115, 115, 115);
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    padding: 0 15px;
    margin: auto;
    width: min(1110px,(100% - 30px));
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
input,
textarea{
    outline: none;
    border: none;
}
img{
    max-width: 100%;
}
h1{
    line-height: 120%;
    font-size: var(--fs-54px);
    color: var(--dark-gunmetal);
}
section .container h2.text-center{
    text-align: center;
}
.title{
    font-size: var(--fs-40px);
    color: var(--dark-gunmetal);
}
.hire-me{
    display: inline-block;
    padding: 10px 12px;
    font-size: var(--fs-16px);
    font-weight: 500;
    border-radius: 8px;
    background-color: var(--dark-gunmetal);
    color: var(--white);
}
header{
    padding: 15px 0;
    position: fixed;
    width: 100%;
    background-color: var(--dark-gunmetal);
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .container .logo a{
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    color: var(--white);
}
@media (max-width:991px) {
    header .container nav input{
        display: none;
    }
    header .container nav{
        position: relative;
    }
    header .container nav ul{
        display: none;
        position: absolute;
        top: 70px;
        right: 20px;
        width: 200px;
        text-align: center;
        border-radius: 8px;
        background-color: #212529;
    }
    header .container nav ul li a{
        display: inline-block;
        margin: 10px 0;
        color: var(--white);
    }
    header .container nav >input:checked ~ ul{
        display: block;
    }
}
@media (min-width:992px) {
    header .container nav input,
    header .container nav label{
        display: none;
    }
    header .container nav ul{
        display: flex;
        gap: 40px;
    }
    header .container nav ul li a{
        display: inline-block;
        color: var(--platinum);
        font-weight: 600;
    }
    header .container nav ul li a:hover,
    header .container nav ul li .active{
        color: var(--white);
    }
}
section:not(.hero){
    padding: 60px 0;
}
.hero{
    padding: 80px 0 0 0;
    background-color:var(--platinum);
}
.hero .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:40px 130px;
    min-height: 100vh;
}
.hero .container .info p{
    margin: 15px 0;
    font-size: var(--fs-18px);
    color: var(--gray);
}
.about-me .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:40px 130px;
}
.about-me .container .details p{
    margin-bottom: 15px;
    font-size: var(--fs-16px);
    color: var(--gray);
}
.about-me .container .details .btn-flex{
    display: inline-flex;
    align-items: center;
    gap: 10px;
}
.about-me .container .details .btn-flex a:last-child{
    padding: 10px 12px;
    border-radius: 8px;
    font-size: var(--fs-16px);
    font-weight: 500;
    border: 2px solid var(--dark-gunmetal);
    color: var(--dark-gunmetal);
}
@media (min-width:992px) {
    .about-me .container .details{
        width: 40%;
    }
    .about-me .container h2{
        width: 15%;
    }
}
.services{
    background-color: var(--platinum);
    line-height: 160%;
}
.services .container >p{
    margin: 25px 0;
    text-align: center;
    font-size: var(--fs-16px);
    color: var(--gray);
}
.services .container .services-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}
.services .container .services-list .service{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 250px;
    padding:30px 20px;
    text-align: center;
    border-radius: 12px;
    background-color: var(--dark-gunmetal);
    color: var(--white);
}
.services .container .services-list .service h3{
    font-size: var(--fs-20px);
    font-weight: 500;
}
.services .container .services-list .service p{
    font-size: var(--fs-16px);
    font-weight: 500;
    color: rgb(255 255 255 /0.6);
}
/* .blog .container .courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}
.blog .container .courses .course{
    display: flex;
    justify-content: center;
    width: 520px;
    overflow: hidden;
    border-radius: 8px;
    background-color: var(--platinum);
}
.blog .container .courses .course .course-details{
    padding: 15px;
}
.blog .container .courses .course h3{
    margin-bottom: 10px;
    font-size: var(--fs-20px);
    font-weight: 600;
    color: var(--dark-gunmetal);
}
.blog .container .courses .course p{
    font-size: var(--fs-16px);
    line-height: 160%;
    color: var(--dark-gunmetal);
}
.blog .container .courses .course  .image {
    width: 100%;
    height: 100%;
    background-color: var(--gray);
} */